---
layout: articles
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
show_title: false

articles:
  data_source: paginator.posts
  type: item
  article_type: BlogPosting
  show_cover: true
  show_info: true
  show_excerpt: true
  show_readmore: true
---

<div class="layout--home">
  {%- include paginator.html -%}
</div>
<script>
  {%- include scripts/home.js -%}
</script>
 
{{ content }}

<h3>招聘博士后2位</h3>
现面向海内外应届博士毕业生或具有博士学位人员招聘博士后2名,专业不限，高分子、化学及材料等方向皆可，具有高分子材料加工背景的人员优先
<h4> 联系电话：021-31242867 （唐萍 老师） 电子邮箱：pingtang@fudan.edu.cn</h4>
<a href="https://github.com/tangp69/papers/raw/master/唐萍课题组博士后招聘2021VER.pdf" target="_blank">了解详情</a>
<p></p>
<h3> 招聘科研助理2位</h3>
要求本科及以上学位（学历）,专业不限，高分子、化学及材料等方向皆可，具有高分子材料加工背景的
人员优先
<h4>联系电话：021-31242867 （唐萍 老师） 电子邮箱：pingtang@fudan.edu.cn</h4>
<a href="https://github.com/tangp69/papers/raw/master/用工招聘.pdf" target="_blank">了解详情</a>
<p></p>
  
<h3> 复旦大学唐萍课题组近期研究进展</h3>
<h4>缔合高分子的线性粘弹性--分子理论与模拟</h4>
<a href="https://mp.weixin.qq.com/s/6BdWK0s_iuydRvzn9f4lYQ" target="_blank">了解详情</a>
缔合高分子是一类含有可逆非共价相互作用的特殊高分子体系，其中的粘性基体或粘性链段（通常称为“sticker”）可以彼此间以氢键、π-π堆积、金属配位等形式发生可逆的缔合反应。这些缔合高分子具有广泛的用途，不仅可以用于实现诸如自愈合、形状记忆等功能材料，也因其独特的流变学性质广泛用于相关领域，如作为流变调节剂使用。因此深刻理解缔合高分子的流变现象具有普遍意义。
<p></p>

<h2>唐萍  教授  博士生导师</h2>

<p><img src="https://s1.ax1x.com/2020/06/02/tNfATe.md.jpg" height="auto" width="50%" alt="Prof. Tang" /></p>

<p>唐萍，女，复旦大学高分子科学系教授，博士生导师。</p>

